.body3,.body3hack {background:url("#{resource['design/images/logoclient.png']}") center top no-repeat;position:absolute;height:353px;width:327px;top:6px;left:50%;margin-left:213px;z-index:4}

#page1 .body3hack {z-index:250; height:101px;}


.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 750px;
    height: 150px;
}

.clientData label{
	width: 150px;
	display:inline-block;
	font-weight: bold;
	
}

.clientData input{
	border: 1px solid rgb(212,212,212);
}

iframe#frameCode{
	width: 100%;
	height: 600px;
}

.codeoutput{	
	width: 100%;
	max-height: 600px;
	overflow-y:scroll;
	white-space: pre-wrap;	
word-wrap: break-word;
}