<?xml version="1.0" encoding="UTF-8"?>
<!--web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1"-->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:chemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">


  <display-name>prototype-web</display-name>
  <welcome-file-list>
    <welcome-file>index.xhtml</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>list.xhtml</welcome-file>
  </welcome-file-list>
  <!--context-param>
    <param-name>javax.faces.FACELETS_LIBRARIES</param-name>
    <param-value>/WEB-INF/bookstore.taglib.xml</param-value>
  </context-param-->
  
 <context-param>  
    <param-name>primefaces.THEME</param-name>  
    <param-value>cupertino</param-value>  
</context-param> 

<security-constraint>
   <display-name>Bank-html</display-name>
	<web-resource-collection>
		<web-resource-name>HtmlAuth</web-resource-name>
		<url-pattern>/banca/*</url-pattern>
		<http-method>GET</http-method>
		<http-method>POST</http-method>
	</web-resource-collection>
	<auth-constraint>
		<role-name>bank</role-name>
	</auth-constraint>
</security-constraint>

<security-constraint>
   <display-name>Merchand-html</display-name>
	<web-resource-collection>
		<web-resource-name>HtmlAuth</web-resource-name>
		<url-pattern>/comercios/*</url-pattern>
		<http-method>GET</http-method>
		<http-method>POST</http-method>
	</web-resource-collection>
	<auth-constraint>
		<role-name>merchand</role-name>
		<role-name>bank</role-name>
	</auth-constraint>
</security-constraint>

<security-constraint>
   <display-name>Tarjetahabientes-html</display-name>
	<web-resource-collection>
		<web-resource-name>HtmlAuth</web-resource-name>
		<url-pattern>/clientes/*</url-pattern>
		<http-method>GET</http-method>
		<http-method>POST</http-method>
	</web-resource-collection>
	<auth-constraint>
		<role-name>cardholder</role-name>
		<role-name>bank</role-name>
	</auth-constraint>
</security-constraint>

<login-config>
	<auth-method>BASIC</auth-method>
	<realm-name>DBLogin</realm-name>
	<!-- realm-name>file</realm-name-->
	<form-login-config>
			<form-login-page>/login.html</form-login-page>
			<form-error-page>/login-failed.html</form-error-page>
	</form-login-config>
</login-config>

<security-role>
	<role-name>bank</role-name>
	<role-name>merchand</role-name>
	<role-name>cardholder</role-name>
</security-role>

  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
     <url-pattern>*.xhtml</url-pattern>
  </servlet-mapping>
  
  <mime-mapping>
<extension>htc</extension>
<mime-type>text/x-component</mime-type>
</mime-mapping>


<error-page>
    <error-code>401</error-code>
    <location>/error.xhtml</location>
</error-page>
<!-- error-page>
    <error-code>403</error-code>
    <location>/error.xhtml</location>
</error-page>
<error-page>
    <error-code>500</error-code>
    <location>/error.xhtml</location>
</error-page>
<error-page>
    <error-code>503</error-code>
    <location>/error.xhtml</location>
</error-page -->
  
</web-app>